/* GLOBAL */
#main{
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	
}
#content{
	flex-grow: 1;
}

.footer{
    display:flex;
    flex-direction: column;
    margin: 40px 0px 0px 0px;
    padding-top:10px;
}

.social-logo-block{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin:0px auto;
}

.social-logo{
    height: 45px;
}

.scrollUpBtn{
    font-size: 50px;
    text-align: center;
}

.footer-bottom{
    margin-top:20px;
    display:flex;
    justify-content: center;
}

/* BLOG */
.title-block{
    background: url("https://picsum.photos/900/300") no-repeat;
    background-size: cover;
    padding:20% 0px;
}

.title-band{
    position: relative;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

.title{
    color: white;
    text-align: center;
}

.post-link-btn{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}