{% extends "base.html.twig" %}
{% block title %}
{{parent()}}
-
Erreur 403
{% endblock %}

{% block body %}
<div class="container">
    <h3>Erreur 403</h3>
    <h4>Désolé vous n'êtes pas autorisé à accéder à cette page !</h4>
</div>
{% endblock %}