{% extends "base.html.twig" %}
{% block title %}
{{parent()}}
-
Erreur 404
{% endblock %}

{% block body %}
<div class="container">
    <h3>Erreur 404</h3>
    <h4>Désolé cette page n'existe pas !</h4>
</div>
{% endblock %}