{% extends "base.html.twig" %}

{% block title %}
{{parent()}}
-
{{title}}
{% endblock %}

{% block body %}

{% for message in messages %}
{% if message.type == "error" %}
<div class="alert alert-danger">
	{% elseif message.type == "success" %}
	<div class="alert alert-success">
		{% endif %}
		{{message.content}}
	</div>
	{% endfor %}
	HOME

	{% include "/includes/contact-form.html.twig" %}

	{% endblock %}