<div class="footer">
    <a href="{{links.github}}" target="_blank">
        <img src="img/Github-Icon_icon-icons.com_52888.png" alt="logo-github" class="logo">
    </a>
    <a href="{{links.linkedin}}" target="_blank">
        <img src="img/linkedin_socialnetwork_17441.png" alt="logo-linkedin" class="logo">
    </a>
</div>