<div class="footer bg-primary">
    <div class="social-logo-block">
        <a href="{{links.github}}" target="_blank">
            <img src="img/Github-Icon_icon-icons.com_52888.png" alt="logo-github" class="social-logo">
        </a>
        <a href="{{links.linkedin}}" target="_blank">
            <img src="img/linkedin_socialnetwork_17441.png" alt="logo-linkedin" class="social-logo">
        </a>
    </div>
    <div class="scrollUpBtn">
        <a href="#header">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>