<div class="footer bg-primary">
    {% if session.role_user == 'admin' %}
    <div class="nav-item dropdown admin-link">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
            <i style="font-size:25px;" class="fas fa-user-cog"></i>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="index.php?admin-post=list">Articles</a>
            <a class="dropdown-item" href="index.php?admin-post=form">Ajouter un article</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="index.php?admin-user=list">Utilisateurs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="index.php?admin-comment=list">Commentaires</a>
        </div>
    </div>
    {% endif %}
    <div class="scrollUpBtn" id="scrolltop">
        <a href="#main">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <div class="social-logo-block">
        <a href="https://www.linkedin.com/in/david-cornacchia-25a951199/" target="_blank">
            <img src="img/Github-Icon_icon-icons.com_52888.png" alt="logo-github" class="social-logo">
        </a>
        <a href="https://github.com/LFZDavid" target="_blank">
            <img src="img/linkedin_socialnetwork_17441.png" alt="logo-linkedin" class="social-logo">
        </a>
    </div>
    <div class="footer-bottom bg-dark">
        <h5>© 2020 Sitez-vous.com</h5>
    </div>
</div>