{% include "/includes/nav.html.twig" %}
<section id="header">
    <div class="title-block jumbotron">
        <div class="title-band">
            <h1 class="title">{{title}}</h1>
        </div>
    </div>
</section>