<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="index.php">Sitez-vous</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
		aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="index.php">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/post/list">Tous les articles</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#contact_form">Contact</a>
			</li>

			{% if app_user %}
			<li>
				<a class="nav-link" href="/user/form">
					<i style="font-size:25px;" class="fas fa-user-alt"></i>
				</a>
			</li>
			{% endif %}
			<div class="logs-logo">
				{% if app_user is null %}
				<a class="nav-item" href="/user/login">
					<i style="font-size:25px;" class="fas fa-sign-in-alt"></i>
				</a>
				{% else %}
				<a class="nav-item" href="/user/logout">
					<i style="font-size:25px; color:red;" class="fas fa-power-off">
					</i>
				</a>
				{% endif %}
			</div>
		</ul>
	</div>
</nav>