<div class="container-fluid post-comments">
	<h4>Commentaires</h4>
	{% for comment in comments %}
	{% if comment.Active%}
	<div class="comment">
		<div class="comment-infos">
			<strong>{{comment.AuthorName}}
				:
			</strong>
			<em>
				{{comment.createdAt|date('d-m-Y')}}
			</em>
		</div>
		<div class="comment-content">
			<p>{{comment.content}}</p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
	<div class="comment-form-block">
		{% if app_user is null %}
		<p>
			Vous devez être connecté pour poster un commentaire.
			<a href="/user/login">Se connecter/S'inscrire</a>
		</p>
		{% else %}
		<form action="/comment/add/postId/{{post.id}}" method="post">
			<div class=" mb-3 form-group">
				<textarea class="form-control" id="commentContent" name="commentContent" rows="3"
					placeholder="Votre commentaire..." required></textarea>
			</div>
			<input type="submit" class="btn btn-primary">
		</form>
		{% endif %}
	</div>
</div>