<div class="container post_comments">
	<h4>Commentaires</h4>
	{% for comment in post.comments %}
		<div class="row">
			<strong>{{comment.IdAuthor}}
				:
			</strong>
			<em>
				{{comment.CreatedAt}}
			</em>
			<p>{{comment.content}}</p>
		</div>
	{% endfor %}
</div>
